#calculator {
    display: flex;
    flex-direction: column;
}

#display {
    height: 20px;
    width: 200px;
    border: solid;
}

.row {
    display: flex;
    width: 200px;
}

.fxn-buttons,
.operate-btn,
.digit-btn {
    flex: 1;
    margin: 2px;
}

.digit-btn {
    background-color: lightblue;
}

.fxn-buttons,
.operate-btn {
    background-color: lightcoral;
}

.hovered {
    background-color: lightgreen;
}

#zero {
    flex: 2.5;
}